<footer>
    <div class="icons-container">

        <!-- Contact Details -->
            <a href="tel:+6491234567" title="Call Us"><i class="fa-solid fa-phone"></i> </a>
            <a href="mailto:info@khakikiwis.com" title="Email Us"><i class="fa-solid fa-envelope"></i></a>

            <!-- Social Media Icons -->
            <a href="https://www.tiktok.com/explore" title="TikTok"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://www.facebook.com/" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/UOA-COMPSCI719-S2-2023/project-group-khaki-kiwis" title="Github"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>
    <p>
        <script>document.write(new Date().getFullYear())</script> Khaki-Kiwis. All Rights Reserved.
    </p>
</footer>