<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
    {{> navbar }}
    {{{body}}}
    {{> footer}}

    {{!-- Custom JS --}}
    <script type="text/javascript" src="/js/client.js"></script>

    {{!-- Swiper files --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
    <script type="text/javascript" src="/js/swiper.js"></script>

    {{!-- quill files --}}
    <script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>

</body>
</html>
