<div class="container" id="new-article">
    <h1 id="new-article-title">{{title}}</h1>
    <div id="na-styling-div">
        <div id="card-new-article">
            <div class="card-body">
                <h2>Image upload form</h2>
                <div class="blog-key-image">
                    {{!-- this will need to be connected to the db and upload what they user updated from form below
                    --}}
                    <img src="../../uploadedFiles/all blacks.jpg">
                </div>
                <form action="./upload-image" method="POST" enctype="multipart/form-data">

                    <div class="form-group">
                        <label id="image-label" for="inpFile">Upload an image here!</label>
                        <br>
                        <br>
                        <input id="inpFile" type="file" name="imageFile" accept=".png,.jpg,.jpeg,.bmp">
                        <br>
                        <br>
                        <label id"Image-Caption-label" for="txtCaption">Caption:</label>
                        <input id="txtCaption" type="text" name="caption">
                    </div>
                </form>


            </div>
            {{!-- div for wysiwyg --}}

            <h2>Tell your story below</h2>
            <div id="editor-layout">
                <div id="editor">
                    <p></p>
                    <p><br></p>
                </div>
            </div>
            <div class="form-group-upload">
                <button type="submit">Upload!</button>
            </div>
        </div>
    </div>
</div>
{{!--div for wysiwyg JS --}}
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script>
    var quill = new Quill('#editor', {
        modules: {
            toolbar: [
                [{ header: [1, 2, 3, false] }],
                ['bold', 'italic', 'underline'],
                ['link', 'blockquote', 'code-block', 'image'],
                [{ list: 'ordered' }, { list: 'bullet' }]
            ]
        },
        placeholder: 'Compose an epic...',
        theme: 'snow'
    });
</script>